body {
    margin: 0;
    background-color: #E1D7C6;
    font-family: 'Work Sans', sans-serif;
}

p {
    font-size: 0.8rem;
    margin: 0;
}

@font-face {
    font-family: "Char";
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

.head-container {
    background-color: #295F98;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.head-container * {
    margin: 0.2rem;
}

.head-container .agency {
    display: flex;
    align-items: center;
}

.head-container img {
    height: 2.8rem;
}

.head-container a {
    text-decoration: none;
    color: white;
    font-family: 'Char', sans-serif;
}

.head-container a:hover{
    color: lightgray;
}

.navbar-menu a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.navbar-menu a:hover {
    color: lightgray;
}

.card-mine {
    background-color: #CDC2A5;
    display: flex;
    flex-direction: row;
    color: white;
    margin: 2rem 1rem;
    padding: 2rem;
    border-radius: 0.5rem;
    height: auto;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.card-mine img {
    height: 15rem;
    object-fit: cover;
    padding-right: 2rem;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.card-mine .text {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.card-mine .text h1 {
    margin-bottom: 0;
    color: #ffffff;
}

.card-mine .text p {
    font-weight: bold;
    font-size: 0.9rem;
}

.discover {
    display: inline-flex;
    background-color: #295F98;
    height: 2rem;
    width: 4rem;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
    color: white;
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.discover:hover {
    background-color: #1F4B78;
}

.discover a {
    text-decoration: none;
    color: inherit;
}

.discover a:hover {
    color: inherit;
}

.footer-container {
    display: flex;
    flex-direction: column;
    background-color: #295F98;
    height: 10rem;
    font-family: 'Char', sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer-container a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
}

.footer-container a:hover {
    color: lightgray;
}

.footer-container .social {
    display: flex;
    gap: 0.8rem;
}

.dialogForm {
    width: 50%;
    margin: 1rem;
    display: none;
    flex-direction: column; /* Imposta l'impilamento verticale */
    background-color: #CDC2A5;
    border-radius: 10px;
    padding: 1rem; /* Aggiunge spazio interno */
    gap: 1rem; /* Spaziatura tra i campi */
}

.dialogForm form {
    display: flex;
    flex-direction: column; /* Impila verticalmente gli elementi nel form */
    gap: 0.5rem; /* Spaziatura tra i campi del form */
}

.dialogForm label{
    color: white;
    font-weight: bold;
    font-family: 'Char', sans-serif;
}

.dialogForm input, .dialogForm textarea, .dialogForm button {
    width: 100%; /* Fa sì che ogni campo occupi tutta la larghezza */
    box-sizing: border-box; /* Include padding e bordi nella larghezza */
    padding: 0.5rem; /* Aggiunge spazio interno agli input */
}

input::placeholder, textarea::placeholder {
    /* Stile comune per tutti i browser moderni */
    font-family: 'Char', sans-serif;
    font-size: 14px;
    color: lightgray;
}

.dialogForm button {
    background-color: #295F98;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dialogForm button:hover {
    background-color: #45a049;
}

@media (max-width: 863px) {
    .img2 {
        display: none;
    }

    .card-mine {
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }

    .card-mine .img1 {
        display: flex;
        justify-content: center;
        margin-bottom: 1rem;
    }

    .head-container {
        flex-direction: column;
        padding: 1rem;
    }

    .custom-order-1{
        order: 1;
    }
    
    .custom-order-2{
        order: 2;
    }
    
    .custom-order-3{
        order: 3;
    }
}

@media (min-width: 863px){
    p{
        margin-right: 1rem;
        text-align: justify;       
    }

    .card-mine:hover {
        transform: translateY(-5px);
    }

    .card-mine img:hover {
        transform: scale(1.05);
    }
}
