body{
    margin: 0;
}

@font-face {
    font-family: "Char";
    src: url(fonts/WorkSans-VariableFont_wght.ttf);
}

.head-container{
    background-color: rgb(47, 41, 41);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6rem;
}

.head-container *{
    margin: 0.2rem;
}

.head-container .agency{
    display: flex;
    align-items: center;
}

.head-container img{
    height: 2.8rem;
}

.head-container a{
    text-decoration: none;
    color: white;
    font-family: 'Char', sans-serif;
}

.card-mine{
    background-color: black;
    display: flex;
    color: white;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

.card-mine img{
    height: 15rem;
    padding-right: 2rem;
}